///* ========================================================================
//   #CORE
//   ======================================================================== */

//Základní nastavení aplikace

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$smallFontSize: 12px;
$normalFontSize: 14px;
$biggerFontSize: 16px;
$bigFontSize: 18px;
$titleFontSize: 22px;