/* ==========================================================================
   #CORE
   ========================================================================== */

// Základní utility

.u-h-100 {
    height: 100% !important;
}

.u-w-100 {
    width: 100% !important;
}

.u-d-flex {
    display: flex !important;
}

.u-d-block {
    display: block !important;
}

.u-d-none {
    display: none !important;
}

.u-text-blue {
    color: var(--blue) !important;
}
.u-text-indigo {
    color: var(--indigo) !important;
}
.u-text-purple {
    color: var(--purple) !important;
}
.u-text-pink {
    color: var(--pink) !important;
}
.u-text-red {
    color: var(--red) !important;
}
.u-text-orange {
    color: var(--orange) !important;
}
.u-text-yellow {
    color: var(--yellow) !important;
}
.u-text-green {
    color: var(--green) !important;
}
.u-text-teal {
    color: var(--teal) !important;
}
.u-text-cyan {
    color: var(--cyan) !important;
}
.u-text-white {
    color: var(--white) !important;
}
.u-text-gray {
    color: var(--gray) !important;
}
.u-text-gray-dark {
    color: var(--gray-dark) !important;
}

.u-bg-blue {
    background: var(--blue) !important;
}

.u-bg-indigo {
    background: var(--indigo) !important;
}

.u-bg-purple {
    background: var(--purple) !important;
}

.u-bg-pink {
    background: var(--pink) !important;
}

.u-bg-red {
    background: var(--red) !important;
}

.u-bg-orange {
    background: var(--orange) !important;
}

.u-bg-yellow {
    background: var(--yellow) !important;
}

.u-bg-green {
    background: var(--green) !important;
}

.u-bg-teal {
    background: var(--teal) !important;
}

.u-bg-cyan {
    background: var(--cyan) !important;
}

.u-bg-white {
    background: var(--white) !important;
}

.u-bg-gray {
    background: var(--gray) !important;
}

.u-bg-gray-dark {
    background: var(--gray-dark) !important;
}