/* ==========================================================================
   #CORE
   ========================================================================== */

//Základní nastavení elementů

@import "../settings/settings.core.scss";

html, body, #app {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    font-family: 'Roboto', sans-serif !important;
    font-size: $normalFontSize;
}